@font-face {
    font-family: 'ruslan-display';
    src: url('../../assets/fonts/RuslanDisplay-Regular.ttf');
}

@font-face {
    font-family: 'bungee-inline';
    src: url('../../assets/fonts/BungeeInline-Regular.ttf');
}

@font-face {
    font-family: 'crimson';
    src: url('../../assets/fonts/CrimsonText-Regular.ttf');
}

@font-face {
    font-family: 'poppins';
    src: url('../../assets/fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'bungee-shade';
    src: url('../../assets/fonts/BungeeShade-Regular.ttf');
}

@font-face {
    font-family: 'tropikal';
    src: url('../../assets/fonts/Tropikal-Bold.otf');
}

.user-name{
    /* font-family:"poppins"; */
}
.log-out{
    /* margin-bottom: 1rem; */
    /* font-family:"poppins"; */

}
.alt-nav-bar-wrapper{
    height: auto;
    font-size: 19px;
    text-align: center;
    flex-shrink: 0;
    /* height: 85px; */
    margin: 6vh 1vw 3vh 1vw;
    display: flex;
    justify-content: space-between;
    /* padding: 0.2rem calc((100vw - 1000px) / 2); */
    z-index: 12;
    align-items: center;
    
}
.alt-font-icon{
    font-size: 18px;
}
.alt-list-left{
    padding: 0px;
    font-size: 22px;
}

.alt-list-left a{
    display: flex;
    /* width: 36vw; */
    padding: 14px 20px;
    align-items: center;
    font-weight: 500;
    /* color: rgba(237, 237, 237, 0.2); */
    color: var(--grey-accent);
  /* -webkit-text-stroke:0.2px rgba(0,0,0,0.8);  */

    font-family: 'tropikal';
}

.alt-list-right{
    float: right;
    font-size: 22px;
    padding-right: 2rem;
    /* width: 23vw; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* font-size: 18px; */
    font-family: "tropikal";
    /* font-weight: 500; */
}
.alt-list-middle{
    width: 0vw;
}
ul{
    list-style-type: none;
    display: flex;
    margin-bottom: 0rem
}
nav{
    display: flex;
    justify-content: center;
}



a:link{
    text-decoration: none;
}

a{
    color: var(--grey-accent);
    
}


.list-right a:hover{
    /* color: rgba(0,0,0,0.3);
    transition: 0.4s cubic-bezier(0.33, 0.66, 0.66, 1);
    -webkit-text-stroke: 0.5px #FFF; */
	/* transform: scale(1.2); */
}

.log-out:hover{
    /* color: rgb(237, 237, 237); */
}