/* .standardLayout{
    background-image: url('../../assets/images/fairyforest.jpg');
    background-repeat: no-repeat;
    background-size: auto 100vh;
    height: 100%;
    width: 100%;
    background-size:cover;
    background-attachment: fixed;

} */
