@font-face {
    font-family: 'dancing';
    src: url('../../assets/fonts/DancingScript-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'glassure';
    src: url('../../assets/fonts/Glassure.otf');
}

@font-face {
    font-family: 'calligraffitti';
    src: url('../../assets/fonts/Calligraffitti-Regular.ttf');
}

.small-tree-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 35vw;
}

.small-the{
    font-family: 'dancing';
    font-size: 26px;
    display: flex;
    justify-content: flex-start;
    padding: 8px 10px 0px 20px;
    vertical-align: top;
    color: var(--magic-yellow);
}

.small-tree-chronicles{
    font-family: 'glassure';
    font-size: 55px;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--magic-yellow);
}

/* .by-dina{
    font-family: 'calligraffitti';
    font-size: 26px;
    display:flex;
    justify-content: flex-end;
    flex-direction: column;
} */