@font-face {
    font-family: 'ruslan-display';
    src: url('../../assets/fonts/RuslanDisplay-Regular.ttf');
}

/* @font-face {
    font-family: 'bungee-inline';
    src: url('../../assets/fonts/BungeeInline-Regular.ttf');
} */

@font-face {
    font-family: 'crimson';
    src: url('../../assets/fonts/CrimsonText-Regular.ttf');
}

@font-face {
    font-family: 'poppins';
    src: url('../../assets/fonts/Poppins-Regular.ttf');
}
/* 
@font-face {
    font-family: 'bungee-shade';
    src: url('../../assets/fonts/BungeeShade-Regular.ttf');
} */

@font-face {
    font-family: 'tropikal';
    src: url('../../assets/fonts/Tropikal-Bold.otf');
}
@font-face {
    font-family: 'cutout';
    src: url('../../assets/fonts/Magazine-Cutouts-Font.ttf');
}

@font-face {
	font-family: 'feelings';
	src: url('../../assets/fonts/FeelingsOnOff.ttf');
}

@font-face {
	font-family: 'justaword';
	src: url('../../assets/fonts/Justaword.ttf');
}


@font-face {
    font-family: 'signika';
    src: url('../../assets/fonts/Signika.ttf');
}
@font-face {
	font-family: 'standard';
	src: url('../../assets/fonts/JosefinSans.ttf');
}
/* @font-face {
	font-family: 'standard';
	src: url('../../assets/fonts/raleway.ttf');
} */

.user-name{
    /* font-family:"poppins"; */
}
.log-out{
    /* margin-bottom: 1rem; */
    color:var(--grey-accent);
    /* font-family:"poppins"; */

}
.std-nav-bar-wrapper{
    width: 100%;
    /* height: 49px; */
    text-align: center;
    flex-shrink: 0;
    /* margin-top: 2%; */
    /* height: 85px; */
    display: flex;
    justify-content: space-between;
    /* padding: 11vh 2vw 0vh 2vw; */
    /* margin: 12vh 7vw 0vw 7vw; */
    /* padding: 0.2rem calc((100vw - 1000px) / 2); */
    z-index: 12;
    align-items: center;
    
}
.font-icon{
    font-size: 25px;
}
.list-left a{
    display: flex;
    /* width: 50vw; */
    padding: 14px 20px;
    font-size: 30px;
    /* margin: 17vh 0vh 10vh 2vh ; */
    align-items: center;
    /* font-weight: 500; */
    /* color: rgba(237, 237, 237, 0.2); */
    color: var(--grey-accent);
    /* -webkit-text-stroke: 1px #1E1B0F; */
  /* -webkit-text-stroke:0.2px rgba(0,0,0,0.8);  */

    font-family: 'cutout';
}
/* .list-right a{
    padding: 14px 20px;
} */



.list-right{
    float:right;
    padding-right: 4rem;
    padding-left: 0;
    /* width: 30vw; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: "cutout";
    /* font-weight: 500; */
    font-size: 22px;
}
.list-middle{
    width: 0vw;
}
ul{
    list-style-type: none;
    display: flex;
    margin-bottom: 0rem
}
nav{
    display: flex;
    justify-content: center;
}



a:link{
    text-decoration: none;
}

a{
    color: var(--grey-accent);
    
}

 

.list-right a:hover{
    /* color: rgba(0,0,0,0.3); */
}

.log-out:hover{
    color: whitesmoke;
    text-shadow: 1px 1px 7px #939393;
    transition: 0.4s cubic-bezier(0.33, 0.66, 0.66, 1);
    /* -webkit-text-stroke: 0.5px whitesmoke; */
	/* transform: scale(1.1); */
}