@font-face {
    font-family: 'tropikal';
    src: url('../../assets/fonts/Tropikal-Bold.otf');
}
.footer{
    /* position: sticky; */
    /* left: 0;
    bottom: 0; */
    width: 100%;
    height: 10vh;
    font-size:15px;
    font-family: 'standard';
    letter-spacing: .1rem;
    /* background-color: #EAFF82; */
    /* opacity: 15%; */
    color: var(--grey-accent);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:3vh 0 1vh 0;
}