@font-face {
    font-family: 'tropikal';
    src: url('../../assets/fonts/Tropikal-Bold.otf');
}
@media (max-width: 767px) {
    .footer{
        font-size:0.75em;
        padding: 3vh 2vw 3vh 2vw;
    }
}
@media (min-width: 768px) and (max-width:1279px){
    .footer{
        font-size: 1em;
        padding: 0vh 2vw 3vh 2vw;
    }
}
@media (min-width: 1280px) {
    .footer{
        font-size:15px;
        padding:3vh 2vw 1vh 2vw;
    }


}
.footer{
    /* position: sticky; */
    /* left: 0;
    bottom: 0; */
    width: 100%;
    height: 10vh;
    font-family: 'standard';
    letter-spacing: .1rem;
    /* background-color: #EAFF82; */
    /* opacity: 15%; */
    color: var(--grey-accent);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}