@font-face {
    font-family: 'crimson';
    src: url('../../assets/fonts/CrimsonText-Regular.ttf');
}
.footer{
    /* position: sticky; */
    /* left: 0;
    bottom: 0; */
    width: 100%;
    height: 6vh;
    font-size:15px;
    font-family: 'crimson';
    letter-spacing: .1rem;
    background-color: rgba(149,193,169, 0.5);
    color: rgba(255,255,255,0.8);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}